@*
  Flightly Admin Sidebar (Clean White Flat)
*@
<div class="sidebar">
    <div class="brand">
        <div class="dot"></div>
        <span>Flightly Admin</span>
    </div>

    <nav class="menu">
        <a href="/AdminDashboard" class="active">Dashboard</a>
        <a href="/AdminAirlines">Airlines</a>
        <a href="/AdminFlights">Flights</a>
        <a href="/AdminBookings">Bookings</a>
        @if (User.IsInRole("Admin"))
        {
            <a href="/AdminReports">Reports</a>
        }
        <a href="/AdminUsers">Users</a>
        <a href="/AdminDestinations">Destinations</a>
        <a href="/AdminLogs">Logs</a>
        <!-- ADMIN ONLY -->
        @if (User.IsInRole("Admin"))
        {
        <a href="/AdminPromoCodes">Promo Codes</a>
        <a href="/AdminBackup">Data Backup</a>
        <a href="/AdminRoles">Role Management</a>
        <a href="/AdminAnnouncements">Announcements</a>
        }
        <hr class="sidebar-separator" />

        <div class="sidebar-footer">
            <a href="#" class="logout" onclick="document.getElementById('logoutForm').submit();">Logout</a>

            <form id="logoutForm"
                  asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="/Identity/Account/Login"
                  method="post">
                @Html.AntiForgeryToken()
            </form>



        </div>

    </nav>
</div>
